*~
# Grundsätzlich keine CSV, JSON, oder PDFs speichern, da diese DSGVO relevante Inhalte beinhalten könne.
*.csv
*.json
*.pdf
# Ausnahmen:
!imgs/2023/fossgis2023_background.pdf
!namensschilder/bin/
*.log
*.aux
*.out
*.synctex.gz
*.synctex.gz.properties
imgs/signature.png
pretix.csv
